<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SponsorCat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css', _external=True, _scheme=scheme) }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
</head>
<body>
  <div class="container">
      <h1 class="heading">Stay In Touch!</h1>
      <h4>Sign up and receive important emails on {{ name }}'s journey to their forever home.</h4>
      <h6>We respect your privacy and do not share with anyone. You may unsubscribe at any time by emailing <a href="mailto:straycatblues.sponsorcat@gmail.com">straycatblues.sponsorcat@gmail.com</a> or by clicking <i>unsubscribe</i> from any of our emails.</h6>
      <div class="container-login">
          {% if error %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
          {% endif %}
        <form action="" method=post>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" value="{{ email }}">
          </div>
          <button type="submit" class="btn btn-light">Sign Me Up!</button>
          <input type=hidden value="{{ _next or '' }}" name=next>
        </form>
      </div>
  </div>
</body>
</html>