<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SponsorCat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css', _external=True, _scheme=scheme) }}">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" sizes="16x16">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicon.ico', _external=True, _scheme=scheme) }}" color="#5bbad5">
</head>
<body>
  <div class="container">
      <div class="heading">
      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}
      <div class="item">
          <h1>Thanks for signing up!</h1>
          <h4>We'll keep you in the loop about {{ name }}, and let you know about all the big events along their journey!</h4>
          Check out all our <a href="https://www.straycatblues.org/adoptable" class="available-link">available cats</a>.</h3>
      </div>
      <div class="item cat-img"><img src="{{ img }}"></div>
      </div>
  </div>
</body>
</html>